# The ipdx team is responsible for GitHub Management maintenance
* @ipfs-shipyard/ipdx

# The github-mgmt stewards team is responsible for triaging/reviewing configuration change requests
# The ipdx team is added here temporarily to witness use patterns in github-mgmt
/github/ipfs-shipyard.yml @ipfs-shipyard/github-mgmt-stewards @ipfs-shipyard/ipdx
